<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{username}} Info</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>Username</td>
            <td>{{username}}</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>{{firstName}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{lastName}}</td>
        </tr>
        <tr>
            <td>Profession</td>
            <td>{{profession}}</td>
        </tr>
        <tr>
            <td>Bio</td>
            <td>{{bio}}</td>
        </tr>
    </table>
</body>
</html>